body {
    background-color:antiquewhite;
}

form {
    width: 50%;
    margin: 0 auto;
}
legend {
    text-align: center;
    font-weight: bolder;
}

p {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

h2 {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
}